<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_patient_daily_opioid_path(@daily_opioid.patient, @daily_opioid) %> |
<%= link_to 'Back', patient_daily_opioids_path(@daily_opioid.patient) %>
